# Koneksi untuk SQLAlchemy
DATABASE_URL=mysql+pymysql://root:<MYSQL_ROOT_PASSWORD>@localhost:3307/ticket_db

# URL Webhook Trigger n8n
N8N_WEBHOOK_URL=http://localhost:5679/webhook/testDMS

# API gemini untuk n8n
GEMINI_API_KEY=

# Origin URL frontend (untuk CORS di Backend)
URL_FRONTEND=http://localhost:3000
